.illustrations {
    .illustration {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 0px 10px 0px #e9e1e1;
        border-radius: 10px;
        height: 438px;
        margin-bottom: 40px;
        padding: 40px 20px 40px 120px;
        &-text {
            flex-basis: 50%;
            h2 {
                margin-bottom: 25px;
            }
            p {
                color: #8b8e93;
            }
        }
        img {
            flex-basis: 40%;
            height: 100%;
        }
    }
}