.cover {
    background-image: url('../../images/bg-hero-desktop.svg');
    background-size: cover;
    height: 100vh;
}
.container {
    margin-left: 80px;
    margin-right: 80px;
}
.main {
    .call-to-action {
        display: flex;
        justify-content: space-between;
        margin-bottom: 250px;
        .main-text {
            flex-basis: 45%;
            margin-top: 100px;
            h1 {
                font-size: 3.3em;
                margin-bottom: 50px;
            }
            p {
                font-size: 1.3em;
                line-height: 1.5;
                margin-bottom: 35px;
            }
            button {
                background-color: $color-button;
                border: none;
                padding: 20px 65px;
                border-radius: 30px;
                color: white;
                font-weight: bold;
            }
        }
        .img {
            flex-basis: 45%;
            img {
                width: 100%;
            }
        }
    }
}