.cover {
    background-image: url('../../images/bg-hero-desktop.svg');
    background-size: cover;
    height: 100vh;
    @include only-mobile {
        background-image: url('../../images/bg-hero-mobile.svg');
        background-size: cover;
        height: 200vh;
        width: 100%;
    }
}
.container {
    margin-left: 80px;
    margin-right: 80px;
    @include only-mobile {
        margin-left: 25px;
        margin-right: 25px;
    }
}
.main {
    .call-to-action {
        display: flex;
        justify-content: space-between;
        margin-bottom: 250px;
        @include only-mobile {
            flex-direction: column;
            text-align: center;
            margin-bottom: 70px;
        }
        .main-text {
            flex-basis: 45%;
            margin-top: 100px;
            h1 {
                font-size: 3.3em;
                margin-bottom: 50px;
                @include only-mobile {
                    font-size: 1.7em
                }
            }
            p {
                font-size: 1.3em;
                line-height: 1.5;
                margin-bottom: 35px;
            }
            button {
                background-color: $color-button;
                border: none;
                padding: 20px 65px;
                border-radius: 30px;
                color: white;
                font-weight: bold;
                @include only-mobile {
                    margin-bottom: 70px;
                }
            }
        }
        .img {
            flex-basis: 45%;
            img {
                width: 100%;
            }
        }
    }
}